#home {
  .box-v1 {
    .head-box-v1 {
      display: flex;
      .wrap-head {
        width: 100%;
        h2 {
          font-family: $GilroyBold;
          color: #333;
          font-size: 20px;
        }
        p {
          font-size: 13px;
          color: $primary;
          margin-top: 10px;
          font-family: $GilroyMedium;
          font-weight: normal;
        }
        .wrap-button {
          text-align: right;
          button {
            margin: 0 8px;
            @include button-outline;
            &:nth-child(2) {
              @include button-solid;
            }
            .text {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .wrapper-card {
      margin-top: 3rem;
      .card {
        @include card;
        .flex-card {
          display: flex;
          .col {
            width: 100%;
            box-sizing: border-box;
            h2 {
              font-family: $GilroyBold;
              margin-top: 0.2rem;
            }
            p {
              font-family: $GilroyRegular;
              margin-top: 0.5rem;
            }
            .icon-circle {
              padding: 20px;
              width: 20px;
              height: 20px;
              text-align: center;
              border-radius: 100%;
              background: #dcdcdc;
            }
          }
        }
      }
    }
    .wrapper-card-graph {
      margin-top: 2rem;
      .card {
        @include card;
      }
    }
  }
}
