* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  overflow: hidden;
}

@mixin button-outline {
  padding: 10px 20px;
  border: 1px solid #dcdcdc;
  user-select: none;
  cursor: pointer;
  color: $primary;
  border-radius: 4px;
  background-color: transparent;
  font-family: $GilroyRegular;
  @include btn-animate;
}
@mixin button-solid {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid $primary;
  user-select: none;
  border-radius: 4px;
  color: #fff;
  background-color: $primary;
  font-family: $GilroyRegular;
  @include btn-animate;
}
@mixin head-card {
  color: #333;
  font-family: $GilroyRegular;
  border-bottom: 1px solid #dcdcdc;
  h2 {
    font-size: 13px;
  }
}
@mixin card {
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0.2px 0px -3px rgba(0, 0, 0, 0.022),
    0px 0.4px 0px -3px rgba(0, 0, 0, 0.031),
    0px 0.9px 0px -3px rgba(0, 0, 0, 0.039),
    0px 1.8px 0px -3px rgba(0, 0, 0, 0.048),
    0px 5px 0px -3px rgba(0, 0, 0, 0.07);
  .body-card {
    padding: 20px;
    box-sizing: border-box;
  }
}
@mixin btn-animate {
  transition: 0.2s ease;
  &:active {
    transform: translateY(10px);
  }
}
@import "_variable.scss";
.grid-container {
  box-sizing: border-box;
  display: grid;
  @include dekstop {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    box-sizing: border-box;
  }
  @include tablet {
    justify-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  @include mobile {
    grid-template-columns: auto;
    grid-column-gap: 20px;
    box-sizing: border-box;
    grid-row-gap: 20px;
  }
}
.btn-solid {
  @include button-solid;
}
.btn-outline {
  @include button-outline;
}
.mobile {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
.container {
  margin-top: 2rem;
  @include screen4k {
    max-width: 1800px;
    box-sizing: border-box;
    width: 100%;
  }
  @include dekstop {
    max-width: 180vh;
    box-sizing: border-box;
    width: 100%;
  }
  @include tablet {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  @include mobile {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .container {
    box-sizing: border-box;
    max-width: 160vh;
  }
}
canvas {
  box-sizing: border-box;
}
#app {
  .flex-box {
    display: flex;
    .col-box {
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
      background-color: #f5f5fb;
      &:nth-child(1) {
        max-width: 70px;
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
    }
  }
}
#myChart {
  box-sizing: border-box;
  @include dekstop {
    width: 300px;
    height: 300px;
  }
  @include tablet {
    width: 100px;
    height: 100px;
  }
  @include mobile {
    width: 100px;
    height: 100px;
  }
}
#barChart {
  box-sizing: border-box;
  @include dekstop {
    width: 700px;
    height: 400px;
  }
  @include tablet {
    width: 300px;
    height: 300px;
  }
  @include mobile {
    width: 200px;
    height: 300px;
  }
}
#footer {
  padding: 20px;
  height: 100px;
  margin-top: 2rem;
  .copyright-name {
    text-align: center;
    p {
      font-size: 13px;
      color: #333;
      font-family: $GilroyMedium;
    }
  }
}
