* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("@font/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "GilroyMedium";
  src: url("@font/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "GilroySemiBold";
  src: url("@font/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "GilroyBold";
  src: url("@font/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url("@font/fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "GilroyHeavy";
  src: url("@font/fonts/Gilroy-Heavy.ttf");
}
#navbar .navbar {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #373c56;
}
#navbar .navbar .wrapper-nav {
  padding: 20px;
  background: #6f52ed;
  box-sizing: border-box;
}
#navbar .navbar .wrapper-nav .title-brand-icon {
  box-sizing: border-box;
}
#navbar .navbar .wrapper-nav .title-brand-icon h1 {
  font-family: "GilroyBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f2f2f2;
  text-align: center;
}

#header .header {
  width: 100%;
  padding: 8px;
  background: #fff;
  box-sizing: border-box;
}
#header .header .input-box-search {
  box-sizing: border-box;
}
#header .header .input-box-search input {
  box-sizing: border-box;
  padding: 17px;
  font-family: "GilroyMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  outline: none;
  border: none;
  color: grey;
}

#home .box-v1 .head-box-v1 {
  display: flex;
}
#home .box-v1 .head-box-v1 .wrap-head {
  width: 100%;
}
#home .box-v1 .head-box-v1 .wrap-head h2 {
  font-family: "GilroyBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  font-size: 20px;
}
#home .box-v1 .head-box-v1 .wrap-head p {
  font-size: 13px;
  color: #6f52ed;
  margin-top: 10px;
  font-family: "GilroyMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}
#home .box-v1 .head-box-v1 .wrap-head .wrap-button {
  text-align: right;
}
#home .box-v1 .head-box-v1 .wrap-head .wrap-button button {
  margin: 0 8px;
  padding: 10px 20px;
  border: 1px solid #dcdcdc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #6f52ed;
  border-radius: 4px;
  background-color: transparent;
  font-family: "GilroyRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.2s ease;
}
#home .box-v1 .head-box-v1 .wrap-head .wrap-button button:active {
  transform: translateY(10px);
}
#home .box-v1 .head-box-v1 .wrap-head .wrap-button button:nth-child(2) {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #6f52ed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 4px;
  color: #fff;
  background-color: #6f52ed;
  font-family: "GilroyRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.2s ease;
}
#home .box-v1 .head-box-v1 .wrap-head .wrap-button button:nth-child(2):active {
  transform: translateY(10px);
}
#home .box-v1 .head-box-v1 .wrap-head .wrap-button button .text {
  margin-left: 10px;
}
#home .box-v1 .wrapper-card {
  margin-top: 3rem;
}
#home .box-v1 .wrapper-card .card {
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  box-shadow: 0.3px 0.9px 5.2px rgba(0, 0, 0, 0.012), 0.8px 2.1px 12.4px rgba(0, 0, 0, 0.018), 1.5px 3.9px 23.4px rgba(0, 0, 0, 0.023), 2.7px 6.9px 41.8px rgba(0, 0, 0, 0.029), 5px 13px 78.1px rgba(0, 0, 0, 0.035), 12px 31px 187px rgba(0, 0, 0, 0.05);
}
#home .box-v1 .wrapper-card .card .flex-card {
  display: flex;
}
#home .box-v1 .wrapper-card .card .flex-card .col {
  width: 100%;
  box-sizing: border-box;
}
#home .box-v1 .wrapper-card .card .flex-card .col h2 {
  font-family: "GilroyBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0.2rem;
}
#home .box-v1 .wrapper-card .card .flex-card .col p {
  font-family: "GilroyRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0.5rem;
}
#home .box-v1 .wrapper-card .card .flex-card .col .icon-circle {
  padding: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  background: #dcdcdc;
}
#home .box-v1 .wrapper-card-graph {
  margin-top: 2rem;
}
#home .box-v1 .wrapper-card-graph .card {
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  box-shadow: 0.3px 0.9px 5.2px rgba(0, 0, 0, 0.012), 0.8px 2.1px 12.4px rgba(0, 0, 0, 0.018), 1.5px 3.9px 23.4px rgba(0, 0, 0, 0.023), 2.7px 6.9px 41.8px rgba(0, 0, 0, 0.029), 5px 13px 78.1px rgba(0, 0, 0, 0.035), 12px 31px 187px rgba(0, 0, 0, 0.05);
}

.grid-container {
  box-sizing: border-box;
  display: grid;
}
@media only screen and (max-width: 1920px) and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media only screen and (max-width: 692px) and (min-width: 320px) {
  .grid-container {
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media only screen and (max-width: 692px) and (min-width: 320px) {
  .grid-container {
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.container {
  margin-top: 2rem;
}
@media only screen and (max-width: 2560px) and (min-width: 2000px) {
  .container {
    max-width: 1800px;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1024px) {
  .container {
    max-width: 180vh;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) and (min-width: 700px) {
  .container {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 692px) and (min-width: 320px) {
  .container {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

#app .flex-box {
  display: flex;
}
#app .flex-box .col-box {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  background-color: #f5f5fb;
}
#app .flex-box .col-box:nth-child(1) {
  max-width: 70px;
  border-right: 1px solid #dcdcdc;
}/*# sourceMappingURL=main.css.map */